<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
                        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

    <context:component-scan base-package="org.sguydye.sfservice" />
    
    <bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider">
        <property name="mapper">
            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                <property name="targetObject">
                    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                        <property name="targetObject"><bean class="com.fasterxml.jackson.databind.ObjectMapper"/></property>
                        <property name="targetMethod"><value>registerModule</value></property>
                        <property name="arguments">
                            <list>
                                <bean class="com.fasterxml.jackson.datatype.jsr310.JSR310Module" />
                            </list>
                        </property>
                    </bean>
                </property>
                <property name="targetMethod"><value>disable</value></property>
                <property name="arguments">
                   <value type="com.fasterxml.jackson.databind.SerializationFeature">WRITE_DATES_AS_TIMESTAMPS</value>
                </property>
            </bean>
        </property>
    </bean>

    <jaxrs:server id="CxfServer" address="/">
        <jaxrs:serviceBeans>
            <ref bean="entityService"/>
        </jaxrs:serviceBeans>
        <jaxrs:inInterceptors>
            <ref bean="validationInInterceptor"/>
        </jaxrs:inInterceptors>
        <jaxrs:outInterceptors>
            <ref bean="validationOutInterceptor" />
        </jaxrs:outInterceptors>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json"/>
        </jaxrs:extensionMappings>
        <jaxrs:features>
            <cxf:logging/>
        </jaxrs:features>
        <jaxrs:providers>
            <ref bean="jsonProvider" />
            <bean class="org.sguydye.sfservice.util.exception.mapper.ServerExceptionMapper"/>
            <bean class="org.sguydye.sfservice.util.exception.mapper.HibernateExceptionMapper"/>
            <ref bean="validationExceptionMapper"/>
        </jaxrs:providers>
    </jaxrs:server>

    <bean id="validationExceptionMapper" class="org.apache.cxf.jaxrs.validation.ValidationExceptionMapper"/>
    <bean id="validationProvider" class="org.apache.cxf.validation.BeanValidationProvider" />

    <bean id="validationInInterceptor" class="org.apache.cxf.jaxrs.validation.JAXRSBeanValidationInInterceptor">
        <property name="provider" ref="validationProvider" />
    </bean>

    <bean id="validationOutInterceptor" class="org.apache.cxf.jaxrs.validation.JAXRSBeanValidationOutInterceptor">
        <property name="provider" ref="validationProvider" />
    </bean>

</beans>